.root {
  /* position: absolute;

  text-align: center; */

  position: fixed; /* or absolute */

  top: 35%;

  left: 29.5%;

  font-family: monospace;

  font-size: 5em;

  color: blanchedalmond;

  text-shadow: 3px 2px rgb(0, 255, 242);

  background-color: rgba(33, 6, 109, 0.486);
}

.partyParrot {
  width: 1em;
  margin-left: 39%;
}
