:root {
  --color__dark: rgb(1, 22, 39);
  --color__light: rgb(207, 219, 213);
  --color__cover: rgba(46, 196, 182);
  --color__highlight: rgba(231, 29, 54);
  --color__lowlight: rgba(254, 215, 102);
}
.root {
  background: #ffffb8;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 20em;
  width: 20em;
  background-color: var(--color__dark);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  user-select: none;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.restartButton {
  font-size: 0.75em;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: white;
  background: #6a40ff;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.65, 0.38);
  transition-delay: 0s;
}
.restartButton:hover {
  font-size: 0.755em;
  text-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.404);
  color: rgb(0, 0, 0);
  background: #40ff80;
}
/* $color1: rgba(85, 91, 110, 1);
$color2: rgba(225, 230, 225, 1);
$color3: rgba(0, 128, 128, 1);
$color4: rgba(248, 90, 62, 1);
$color5: rgba(56, 97, 140, 1); */
