.root {
  /* display: flex;

  justify-content: center;

  align-items: center;

  position: absolute;

  text-align: center; */

  position: fixed; /* or absolute */

  top: 35%;

  left: 29.5%;

  font-family: monospace;

  font-size: 5em;

  color: rgb(105, 105, 105);

  text-shadow: 3px 2px rgb(252, 79, 79);

  background-color: rgba(109, 6, 6, 0.486);
}

.sadPartyParrot {
  width: 1em;
  margin-left: 39%;
}
